body .md {
    --ion-background-color: radial-gradient(circle at top left, #d60000, #00184d);
    --ion-font-family: 'Roboto';
}

ion-fab-button {
    --background: radial-gradient(circle at top left, #ff1f1f, #135dff);
    margin-right: 15px;
    margin-bottom: 15px;
}

.sc-ion-label-md-s h2 {
    font-family: 'Roboto';
    font-size: 25px;
}

ion-label .fonts {
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
}

ion-item .fonts {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
}

.sc-ion-label-md-s>p {
    font-family: 'Roboto';
    font-size: 15px;
    color: white;
}


