body .md {
    --ion-item-background : rgba(206, 90, 90, 0.27);
    --ion-toolbar-background :  linear-gradient(to right, rgb(15, 30, 65), rgb(30, 0, 0));
    --ion-text-color : #ffffff;
}

ion-toolbar {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.520);
}

ion-item {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.520);
}


ion-row .ion-padding {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 4%;
    padding-right: 5%;
}

ion-row.ion-padding ion-col {
    padding-bottom: 20px;
}

ion-grid .ion-padding {
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(206, 90, 90, 0.27);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.520);
    backdrop-filter: blur(10px);
}

ion-row .namaFitur{
    text-align: center;
}

ion-row .logoFitur {
    display: grid;
    place-items: center;
    margin-bottom: 15px;
}

.profil .md ion-grid {
    margin-top: 50px;
}